{% extends 'base.html.twig' %}
{% block title %}Create Product{% endblock %}


{% block body %}
    <div class="row my-10">
       <div class="col-md-6 mx-auto">
            <div class="card">
                 <div class="card-header">
                    edite product
                </div>
                <div class="card-body">
                   {{form(form)}}
                </div>
            </div>
        </div>
    </div>


{% endblock %}